

.answer_page{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;

}
.answer-request-button{
  padding:0 5px;
  margin-right: 1vw;
  white-space: nowrap;
  color:#522D80;
}

.top-page-header {
  width: 100vw;
  padding: 1vh 10vw;
  background-color: #EEEEEE;
  color:#4966bc;
  box-shadow: 7px 7px 10px 1px rgba(0,0,0,0.1);
  position: relative;
  display: flex;
  align-items: center;
  
}

.header-box{
  display: flex;
  align-items: center;
  width: 100%;
}
  
.header-left{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  width:70vw;
  position: relative;
}
  

.persomme-icon{
  width: 15vw;
  margin-right: 1vw;
  display: flex;
  padding-bottom: 10px;
  margin-right: 30px;
  
}

.persomme-icon a{
  width: 10vh;
  height: 100%;
  text-align: center;
  
}

.user-logo{
  margin-left: 40px;
  margin-top: 3px;
}


.header-right{
  display: flex;
  align-items: center;
}
.user-nickname {
  padding: 5px;
  white-space: nowrap;
  width:100%;
  color:#522D80;
  font-weight: bold;
  
}

.new-question{
  padding: 13px;
  white-space: nowrap;
  width:100%;
  color:#FFF;
  border: 1px solid #522D80;
  border-radius: 24px;
  background-color: #522D80;
  margin-left: 40px;
  
}

.question-button{
  padding-left:4px;
}

.login{
  color:#4966bc;
}

.sign-up{
  color:#4966bc;
}


.header-search-form{
  display: flex;
  align-items: center;
  width: 35vw;
}

.input-box{
  width: 100%;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 8px;
  font-size: 12px;
  

}

.search-button{
  border: 0px;
  background-color: #EEEEEE;
  width: auto;
  overflow: visible;
  display: flex;
  align-items: center;
  
}




