
<%= render "shared/header"%>

<div class="answer-index-page">
  <div class="answer-index">

    <h1>回答依頼一覧</h1>

    
    <% @answer_requests.each do |answer_request|%>

    <table class="answer-index-list">
      <tr>
      <td class="genre-name"><%= answer_request.question.genre.name%></td>
      </tr>
      <tr>
      <td class="title"><%= link_to "#{answer_request.question.title}", user_answer_path(current_user.id,answer_request.id)%></td>
      </tr>
    </table>
    <%end%>
    
  </div>

</div>
