.answer-index-page{
  margin-top: 20px;
  background-color: rgb(253, 253, 253);
  display:flex;
  flex-direction:column;
  align-items: center;
}

.answer-index{
  background-color: white;
  width: 70%;
  height: 100vh;
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.1);
  border: 1px solid lightgray;
  border-radius: 5px;
  padding:100px 60px;
  margin-bottom:10px;
  margin:0 auto;
}

.answer-index h1{
  display:block;
  padding-left:80px;
  font-size:5vh;
  font-size:3vw;
  margin-bottom:40px;
  

}

.answer-index-list{
  display:flex;
  padding:0 80px;
  
}

.genre-name{
  border: 1px solid gray;
  padding:1vh 1vw;
  color: #666666;

}

.title{
  border: 1px solid gray;
  width: 100%;
  height: 80px;
  padding:18px 0 10px 1vw;
  
  
}

.title a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  
}

table{
  width:100%;
  margin-bottom:1vh;
}

td {
  width:1000px;
}
