.question-page{
  margin-top: 20px;
  background-color: rgb(253, 253, 253);
  display:flex;
  flex-direction:column;
  align-items: center;
}



.question-form{
  background-color: white;
  width: 60%;
  height: 100%;
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.1);
  border: 1px solid lightgray;
  border-radius: 5px;
  padding:100px 60px;
  margin-bottom:10px;
}

.question-form h1{
  display:block;
  padding-left:80px;
  font-size:5vh;
  font-size:3vw;
  margin-bottom:40px;
  color:#522D80;
  

}

.persona-select{
  padding-left :80px;
  color:#666666;
  margin: 5px 0;
}

.search-form p{
  font-size:12px;
  color:gray;
  padding-left:80px;
}


.search-results{
  margin-left: 80px;
  border: 1px solid lightgray;
  display: none;
  border-radius: 20px;
  padding:10px;
  line-height: 40px;
}

.search-results span{
  margin-left: 10px;
  border: 1px solid #EAD9FF;
  border-radius: 20px;
  padding:7px;
  background-color: #EAD9FF;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);
  white-space: nowrap;
}

.create-persona{
  display: flex;
  align-items: center;
}
.persona-select{
  display: flex;
  align-items: center;
}

.select-characteristic span{
  margin-left: 10px;
  border: 1px solid #9057FF;
  border-radius: 10px;
  padding:7px;
  background-color: #6b419e;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
  white-space: nowrap;
  font-weight: bold;
  color:white;

}

.select-characteristic{
  display:none;
  line-height: 40px;
  margin-bottom:2px;

}

.persona-field{
  padding:4px 4px 4px 8px;
}

.form-list{
  
  display:flex;
  padding-left:80px;
}

.form-title{
  font-size:15px;
  padding-left:80px;
  color: #666666;
}
.genre{
  margin-top:30px;

}
.genre-select{
  margin-bottom:15px;
}

.question-title{
  margin-bottom:15px;
  width:60%;
  padding:7px 7px 7px 10px;
  
}

.content{
  text-align:left;
  width:90%;
  padding:7px 10px 220px 10px;
  margin-bottom: 20px;
}

.submit{
  text-align:center;
  margin:60px ;
}

.submit-button{
  padding:10px 50px;
  color:#FFF;
  border: 1px solid #522D80;
  border-radius: 24px;
  background-color: #522D80;
  outline: none;
  cursor: pointer;
}

